body{
    margin: 0;
}

table, td,th {
    border:1.5px solid black;
    border-collapse:collapse;
    padding: 12px;
    line-height:1.4;
    font-size:20px;
  }
  
  th{
    text-align:left;
    background-color:rgb(231, 219, 219);
  }
  table{
    width:800px;
    margin:0 auto;
    margin-top: 5%;
    box-shadow: 2px 2px 4px #ccc;
  }
  