html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    text-align: center;
}
header,footer{
     background-color: brown;
     padding:10px 20px;
 }

.menu-items{
    color: white;
    text-decoration: none;
    padding:0 20px;
}

main{
    width: 991px;
    margin: 0 auto;
}
h1{
    color: brown;
}
#first-para{
    font-size: 16px;
    line-height: 1.4;
    word-spacing: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#second-para{
    color: rgb(230, 34, 34);
    font-size: 16px;
    line-height: 1.4;
    word-spacing: 1.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about{
    border-bottom: 1px solid #aaa;
}

.images{
    width:200px;
}

#benifits p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: brown;
    padding: 10px;
    font-size: 28px;
}

table{
    margin: auto auto;
    text-align: center;
}



#first-row{
    text-transform: uppercase;
    background-color: transparent;
}

.headers{
    padding-bottom: 17px;
    font: bolder;
    font-family: 'Montserrat', sans-serif;
}

#green{
    color: green;
}

#brown{
    color: brown;
}

#yellow{
    color:orange;
}

#blue{
    color: rgb(95, 196, 230);
}
#pink{
    color:rgb(243, 24, 188);
}
#red{
    color: red;
}
#orange{
    color: red;
}

tr td{
    font-size: 16px;
    padding:8px;
    padding-right: 10px;
    padding-left: 10px;
    

}
tr:nth-last-child(2n+0){
    background-color: rgba(107, 161, 223, 0.3);
}

#readmore{
    margin-top: 20px;
}

